
<input type="checkbox" id="close">
<div class="sidebar h-100" >
    <input type="checkbox" id="toggle-sidebar">
    <div class="sidebar-bg-color " >
        <div class="d-flex justify-content-center align-items-center ">
            <span class="fs-1 text-white">J</span>
            <span class=" bg-white rounded-circle"><a class="bi bi-person-fill fs-5 text-dark"></a></span>
            <span class="fs-1 text-white">S</span>
            <span class="fs-1 text-white">H</span>
        </div>
        <ul class="nav justify-content-center align-items-center icon-wrap">
            <li class="nav-item">
                <a class=" bi bi-table sky-blue fs-4"></a>
            </li>
            <li class="nav-item">
                <a class=" bi bi-list-ul light-red fs-4"></a>
            </li>
            <li class="nav-item">
                <a class="bi bi-card-image light-yellow fs-4"></a>
            </li>
            <li class="nav-item">
                <a class=" bi bi-person-fill light-green fs-4"></a>
            </li>
        </ul>

        <ul class="nav flex-column mt-5">
            <li class="nav-item ">
                <a class="nav-link active">
                    <span class="bi bi-house-door-fill  nav-icon sky-blue"></span>
                    <span class="nav-text">Dashboard</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link">
                    <span class="bi bi-award-fill  nav-icon light-green"></span>
                    <span class="nav-text">Laravel-examples</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link">
                    <span class="bi bi-shield-fill nav-icon light-yellow"></span>
                    <span class="nav-text">Generator Builder</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link">
                    <span class="bi bi-wrench-adjustable  nav-icon light-green"></span>
                    <span class="nav-text">Builder</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link">
                    <span class="bi bi-brush-fill  nav-icon light-yellow"></span>
                    <span class="nav-text">UI Features</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link ">
                    <span class="bi bi-list-task  nav-icon light-red"></span>
                    <span class="nav-text">Tasks</span>
                </a>
            </li>

        </ul>

    </div>
</div>