<div class="bg-white  position-absolute top-50 start-50 translate-middle">
    <div class="p-4">
        <h2 class="d-flex justify-content-center align-items-center">Confirm Deletion</h2>
        <p>Are you sure, you would like to delete this from Database ? </p>
        <div class="d-flex justify-content-center align-items-center">
            <button class="btn btn-primary me-2" (click)="cancelData()">Cancel</button> 
            <button class="btn btn-danger" (click)="deleteData()">Delete</button>
        </div>
    </div>
</div>