<div class="h-100 d-flex justify-content-center align-items-center">
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Name: {{userDetail.name}}</h5>
      <p class="card-text">Address: {{userDetail.address}}</p>
      <p class="card-text">Mobile No :{{userDetail.mobileNo}}</p>
      <p class="card-text">Email:{{userDetail.email}}</p>
      <p class="card-text">Gender:{{userDetail.gender}}</p>
      <p class="card-text">BirthDate:{{userDetail.birthDate}}</p>
    </div>
  </div>
</div>