<div class="d-flex justify-content-between header-bg-color p-2">
  <div class="d-flex justify-content-center align-items-center ms-3 ">
    <label for="toggle-sidebar">
      <span class="bi bi-list fs-2 px-2 text-white shadow"></span>
    </label>
  </div>

  <div class="">
    <ul class="nav  justify-content-center align-items-center">
      <li class="nav-item">
        <a class="  bi bi-envelope-fill fs-3 position-relative sky-blue" aria-current="page">
          <span class="nav-message"> </span>
        </a>
      </li>
      <li class="nav-item">
        <a class=" bi bi-bell-fill fs-3 position-relative light-red">
          <span class="nav-notification"></span>
        </a>
      </li>
      <li class="nav-item">
        <a class="">
          <figure class="image-wrapper mb-0">
            <img src="./../../../assets/Images/profile-image.avif" alt="">
          </figure>
        </a>
      </li>
      <li class="nav-item d-flex justify-content-center align-items-center ms-2">

          <div class="text-white">
            <span class=" p-0">Jhone Doe</span>
            <span class="bi bi-caret-down-fill"></span>
          </div>
     
      </li>
    </ul>
  </div>

  
</div>