<div class="h-100 p-4">
    <div class="w-100 bg-white ">
        <div class="d-flex justify-content-end p-4">
            <button class="btn btn-primary " (click)="openOverlay()" [routerLink]="['/user/add']">ADD USER</button>
        </div>
    </div>

    <div class="container">
        <table class="w-100 ">
            <thead class=" bg-primary bg-opacity-75">
                <th>Id</th>
                <th>Name</th>
                <th>Email</th>
                <th>Gender</th>
                <th>Birthdate</th>
                <th>Action</th>
            </thead>
            <tbody class=" ">
              <tr *ngFor="let data of userList" class="border">
                <td>{{data.id}}</td>
                <td>{{data.name}}</td>
                <td>{{data.email}}</td>
                <td>{{data.gender}}</td>
                <td>{{data.birthDate}}</td>
                <td>
                    <button class="btn btn-primary me-2"(click)="editUserList(data.id)" >Edit</button>
                    <button class="btn btn-danger me-2"  (click)="deleteUserList(data.id)">Delete</button>
                    <button class="btn btn-success" (click)="getUserDetails(data.id)">Details</button>
                </td>
              </tr>
            </tbody>
        </table>
    </div>
</div>