.sidebar {
  background-color: $main-bg-color;
}

.close-menu {
  display: none;

}

.nav-item {

  .active,
  :hover {
    background-color: hsl(220deg 10% 30%);
  }

}

.icon-wrap {
  white-space: nowrap;
}

.nav-link {
  margin-right: -15px;
  margin-left: -24px;
  padding: 20px 35px;
  display: flex;
  align-items: center;

  .nav-text {
    margin-left: 20px;
    font-size: 20px;
    font-weight: 500;
    color: white;
    white-space: nowrap;
  }

  .nav-icon {
    font-size: 25px;
  }

}

.nav-table {
  color: $sky-blue-color
}

#toggle-sidebar {
  display: none;
}

.sidebar-bg-color {
  width: 270px;
  transition: 0.5s all ease-in-out;
  overflow: hidden;
}

#toggle-sidebar:checked+.sidebar-bg-color {
   width: 0px;
}

#close{
  display: none;
}

@media(max-width:576px) {


  .close-menu {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 20px;
    padding: 10px;
  }

  .sidebar {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 100;
    background-color: $main-bg-color;
  }

  
  
  // #close:checked + .sidebar {
  // display: none;
  // }
  // #close{
  //   display: none;
  //   &:checked {
      
  //     ~.backdrop {
  //       display: block;
  //     }
  //   }
  // }
  // .backdrop {
  //   display: none;
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   right: 0;
  //   bottom: 0;
  //   z-index: 99;
  //   background-color: rgba($black, 0.5);
  // }
  // #close:checked{
  //     .sidebar-overlay{
  //       display: none;
  //     }
  // }
 
}



